.knav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: -3rem;
  z-index: 2;
  background-color: white;
}
.knav__topNav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
}

.knav__topNav_left {
  display: flex;
  /* border: 1px solid rgb(125, 125, 125); */
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.knav__topNav_guide {
  list-style: none;
  font-weight: 500;
  margin: 0 2rem;
  line-height: 2rem;
  height: 2rem;
  white-space: nowrap;
  opacity: 0.8;
  font-size: 0.8rem;
  cursor: pointer;
  /* border: 1px solid black; */
}
.knav__topNav_guide:hover {
  opacity: 1;
}

/* Top Nav Right side starts */

.knav__topNav_right {
  display: flex;
  max-width: 50vw;
  justify-content: flex-end;
  /* border: 1px solid black; */
}

.knav__topNav_right .knav__icons_label {
  width: 0;
  height: 0;
  overflow: hidden;
  word-wrap: none;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.3s ease-out;
}

.knav__topNav_right .knav__topNav_col {
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  height: 2rem;
}

/* Hover effects For Knav__topNav_right Starts */

.knav__topNav_right .knav__topNav_col:hover {
  font-weight: 600;
  color: white;
}

.knav__topNav_right .knav__topNav_col:nth-child(1):hover {
  background-color: #141e61;
}
.knav__topNav_right .knav__topNav_col:nth-child(2):hover {
  background-color: #185adb;
}
.knav__topNav_right .knav__topNav_col:nth-child(3):hover {
  background-color: #da0037;
}
.knav__topNav_right .knav__topNav_col:nth-child(4):hover {
  background-color: #df0e62;
}
.knav__topNav_right .knav__topNav_col:nth-child(5):hover {
  background-color: #11144c;
}
.knav__topNav_right .knav__topNav_col:nth-child(6):hover {
  background-color: #30475e;
}

.knav__topNav_right .knav__topNav_col:hover > .knav__icons_label {
  height: inherit;
  line-height: 2rem;
  white-space: nowrap;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.knav__topNav_right .knav__topNav_col:nth-child(1):hover .knav__icons_label,
.knav__topNav_right .knav__topNav_col:nth-child(2):hover .knav__icons_label,
.knav__topNav_right .knav__topNav_col:nth-child(3):hover .knav__icons_label,
.knav__topNav_right .knav__topNav_col:nth-child(4):hover .knav__icons_label {
  width: 80px !important;
}
.knav__topNav_right .knav__topNav_col:nth-child(5):hover .knav__icons_label,
.knav__topNav_right .knav__topNav_col:nth-child(6):hover .knav__icons_label {
  width: 150px !important;
}

/* Hover effects For Knav__topNav_right ends */

@media screen and (max-width: 900px) {
  .knav__topNav_right .knav__topNav_col:hover > .knav__icons_label {
    display: none !important;
  }
}

@media screen and (max-width: 830px) {
  .knav__topNav_right {
    display: none !important;
  }
  .knav__topNav {
    justify-content: center;
  }
}

/* Top Nav Right side Ends */

/* Bottom Nav */

.knav__bottomNav {
  border: 1px solid black;
  height: 2rem;
  width: 90vw;
  transition: all 0.3s ease-out;
}

.knav__bottomNav.active {
  width: 100%;
}
.knav__bottomNav .knav__botNav_mid {
  display: flex;

  /* border: 1px solid black; */
}
.knav__botNav_guide {
  list-style: none;
}
@media screen and (max-width: 900px) {
  .knav__bottomNav .knav__botNav_mid {
    display: none !important;
  }
}
